@import "../utils/variables.scss";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0px;
    padding-top: 24px;
    background-color: $blackBack;
}

h1{
    margin: 0px;
    color: $greenSpoti;
    font-family: 'Open Sans';
    font-size: 32px;
}