.contStartH2{
    max-width: 85%;
}

.h2Home{
    color: rgba(117, 20, 220, 0.389);
    font-size: 80px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    max-width: 85%;
}

.song{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 6px 10px #80b71a3b; 
    background-color: rgb(28, 26, 26);
    color: white;
}

.titleSong {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:200px; 
    font-size: 16px;
}

.artistName{
    font-size: 12px;
}

​.song img {
    overflow: visible; 
    overflow-clip-margin: auto;
}

.song .imgSong {
    border-radius: 8px;
    width: 168px;
    height: 168px;
    transition: all ease .5s;
}
.imgSong:hover{
    transform: scale(1.1);
    transition: all ease .5s;

}

.contArtistURI{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkPlay{
    width: 40px;
    height: 40px;
    margin: 8px;
    background-image: url("../../../../assets/boton-de-reproduccion.png");
    background-repeat: no-repeat;
    background-color: rgb(28, 26, 26);
   
}
