.inputSearch{
    width: 300px;
    margin: 8px;
    padding: 4px  ;
    border-radius: 50px;
    background-color:rgb(43, 41, 41);
    color: white;
}

.buttonSearch{
    margin: 8px;
    padding: 4px;
    border-radius: 50px;
    background-color: #80b71a;
    color: white;
}
